<div id="listaLimiti" ng-init="profilo.inizializzaLimiti()">

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12" ng-repeat="limite in profilo.limiti">
	    <div id="limitiImporto" class="main-widget">
			<h2 class="main-widget-title">LIMITI</h2>
			<br>
			 <h4 class="red">{{limite.descrizioneGruppo}}</h4>
	        <hr class="separatore"/>
	     
			<table datatable="datatable" dt-options="profilo.dtOptions" 
              id="elencoLimiti" 
              class="table table-bordered table-striped" cellspacing="0" width="100%">
                        
				 <thead>  
						<tr>
              <th></th>
							<th>Descrizione</th>
							<th>Limite</th>
							<th>Utilizzato</th>
							<th>Residuo</th>
						</tr>
				</thead>
				<tbody>
					  <tr>
              <td data-dt-column="{{limite.codiceGruppo}}_0"></td>
					     <td >{{'Singola Operazione'|translate}}</td>
					     <td>{{ limite.singolaOperLimite }}</td>
					     <td>{{ limite.singolaOperUtilizzato }}</td>
					 	 <td>{{ limite.singolaOperResiduo }}</td>
					  </tr>
            <tr>
               <td data-dt-column="{{limite.codiceGruppo}}_1"></td>
					     <td >{{'Pagamenti Mensili'|translate}}</td>
					     <td>{{ limite.pagamentiMensiliLimite}}</td>
					     <td>{{ limite.pagamentiMensiliUtilizzato}}</td>
					 	 <td>{{ limite.pagamentiMensiliResiduo }}</td>
					  </tr>
            <tr>
               <td data-dt-column="{{limite.codiceGruppo}}_2"></td>
					     <td>{{'Pagamenti Giornaliero'|translate}}</td>
					     <td>{{ limite.pagamentiGiornalLimite }}</td>
					     <td>{{ limite.pagamentiGiornalUtilizzato }}</td>
					 	 <td>{{ limite.pagamentiGiornalResiduo }}</td>
					  </tr>
            <tr>
               <td data-dt-column="{{limite.codiceGruppo}}_3"></td>
					     <td>{{'Numero Operazioni Giornaliere'|translate}}</td>
					     <td>{{ limite.numeroOperGiornLimite | valueIfNegative }}</td>
					     <td>{{ limite.numeroOperGiornUtilizzato }}</td>
					 	 <td>{{ limite.numeroOperGiornlResiduo }}</td>
					  </tr>
				</tbody>
			</table> 
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
			   <a ng-click='profilo.modificaLimite(limite)'
			      class="btn btn-custom">
			       Modifica 
			       <strong><i class="fa fa-chevron-right"></i></strong></a>
			</div>
	        
	     </div>   
	</div>

	
	    
	
	    <div class="row margintop20">
	        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
	            <a href="#" class="btn btn-custom inverted" tooltip-placement="top" uib-tooltip="Inserisci l'operazione tra i tuoi preferiti"><strong><i class="fa fa-star"></i></strong></a>	
	            <a href="#" class="btn btn-custom inverted" tooltip-placement="top" uib-tooltip="Stampa"><strong><i class="fa fa-print"></i></strong></a>
	            <a href="#" class="btn btn-custom inverted" tooltip-placement="top" uib-tooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit"><strong><i class="fa fa-info-circle"></i></strong></a>
	        </div>
	    </div>
</div>
  
</div>