<form id="modificaLimitiForm" name="profilo.modificaLimitiForm">

  <div class="col-lg-12 col-md-6 col-sm-6">
    <div class="col-lg-12" ng-repeat="limite in profilo.limiti">
      <div id="limitiImporto" class="main-widget">
        <h2 class="main-widget-title">LIMITI</h2>
        <br>
        <h4 class="red">{{profilo.limiteDaModificare.descrizioneGruppo}}</h4>
        <hr class="separatore"/>

        <table datatable="" dt-options="profilo.dtOptions" 
              id="elencoLimiti" 
              class="table table-bordered table-striped" cellspacing="0" width="100%">
  
          <thead>  
            <tr>
              <th></th>
              <th>Descrizione</th>
              <th>Nuovo Limite</th>
              <th>Limite</th>
              <th>Utilizzato</th>
              <th>Residuo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-dt-column="{{profilo.limiteDaModificare.codiceGruppo}}_0"></td>
              <td>{{'Singola Operazione'|translate}}</td>
              <td>
                <div>
                    <input type="text" 
                            name="propostaSingolaOperLimite"
                            ng-model="profilo.limiteDaModificare.propostaSingolaOperLimite"
                            ng-pattern="/^[0-9]*$/"  
                    >
                    </input>
               </div>     
               <div ng-messages="profilo.modificaLimitiForm.propostaSingolaOperLimite.$error" 
                            ng-if="profilo.modificaLimitiForm.propostaSingolaOperLimite.$dirty" 
                            class="col-xs-3">
                          <div ng-message="pattern" class="red">{{'Formato campo non corretto' | translate}}</div>
                </div>
            
              </td>
              <td>{{ profilo.limiteDaModificare.singolaOperLimite }}</td>
              <td>{{ profilo.limiteDaModificare.singolaOperUtilizzato }}</td>
              <td>{{ profilo.limiteDaModificare.singolaOperResiduo }}</td>
              </tr>
            <tr>
              <td data-dt-column="{{profilo.limiteDaModificare.codiceGruppo}}_1"></td>

              <td>{{'Pagamenti Mensili'|translate}}</td>
              <td>
                <div>
                <input type="text" 
                        ng-model="profilo.limiteDaModificare.propostaPagamentiMensiliLimite"
                        name="propostaPagamentiMensiliLimite"
                        ng-pattern="/^[0-9]*$/"  
                >
                </input>
                </div>
                <div ng-messages="profilo.modificaLimitiForm.propostaPagamentiMensiliLimite.$error" 
                            ng-if="profilo.modificaLimitiForm.propostaPagamentiMensiliLimite.$dirty" 
                            class="col-xs-3">
                          <div ng-message="pattern" class="red">{{'Formato campo non corretto' | translate}}</div>

                </div>
      
      
      
              </td>
              <td>{{ profilo.limiteDaModificare.pagamentiMensiliLimite}}</td>
              <td>{{ profilo.limiteDaModificare.pagamentiMensiliUtilizzato}}</td>
              <td>{{ profilo.limiteDaModificare.pagamentiMensiliResiduo }}</td>
          </tr>
          <tr>
             <td data-dt-column="{{profilo.limiteDaModificare.codiceGruppo}}_2"></td>
            <td>{{'Pagamenti Giornaliero'|translate}}</td>
            <td>
              <div>
              <input type="text" 
                     ng-model="profilo.limiteDaModificare.propostaPagamentiGiornalLimite"
                      name="propostaPagamentiGiornalLimite"
                        ng-pattern="/^[0-9]*$/"  
                >
                </input>
              </div>
                <div ng-messages="profilo.modificaLimitiForm.propostaPagamentiGiornalLimite.$error" 
                            ng-if="profilo.modificaLimitiForm.propostaPagamentiGiornalLimite.$dirty" 
                            class="col-xs-3">
                          <div ng-message="pattern" class="red">{{'Formato campo non corretto' | translate}}</div>

                </div>
        
            </td>
            <td>{{ profilo.limiteDaModificare.pagamentiGiornalLimite }}</td>
            <td>{{ profilo.limiteDaModificare.pagamentiGiornalUtilizzato }}</td>
            <td>{{ profilo.limiteDaModificare.pagamentiGiornalResiduo }}</td>
          </tr>
          <tr>
            <td data-dt-column="{{profilo.limiteDaModificare.codiceGruppo}}_3"></td>
            <td>{{'Numero Operazioni Giornaliere'|translate}}</td>
            <td>
              <div>
              <input type="text" 
                     ng-model="profilo.limiteDaModificare.propostaNumeroOperGiornLimite"
                     ng-pattern="/^[0-9]*$/"
                     name="propostaNumeroOperGiornLimite"  
                >
                </input>
              </div>
                <div ng-messages="profilo.modificaLimitiForm.propostaNumeroOperGiornLimite.$error" 
                            ng-if="profilo.modificaLimitiForm.propostaNumeroOperGiornLimite.$dirty" 
                            class="col-xs-3">
                          <div ng-message="pattern" class="red">{{'Formato campo non corretto' | translate}}</div>

                </div>
            </td>
            <td>{{ profilo.limiteDaModificare.numeroOperGiornLimite  | valueIfNegative }}</td>
            <td>{{ profilo.limiteDaModificare.numeroOperGiornUtilizzato }}</td>
            <td>{{ profilo.limiteDaModificare.numeroOperGiornlResiduo }}</td>
          </tr>
</tbody>
</table>


<div class="col-lg-12 col-md-4 col-sm-4 col-xs-12 text-right">
  <a ui-sref="profilo.limitiImporto" class="btn btn-custom">
    <i class="fa fa-chevron-left"></i> Annulla<strong></strong>
  </a>	
  <a class="btn btn-custom"  
     ng-click='!(profilo.modificaLimitiForm.$invalid)  && profilo.verificaModificaLimiti()'
      ng-disabled="profilo.modificaLimitiForm.$invalid">
    Conferma 
    <strong>
    <i class="fa fa-chevron-right"></i>
    </strong>
  </a>	
</div>

</div>   
</div>




<div class="row margintop20">
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
    <a href="#" class="btn btn-custom inverted" tooltip-placement="top" uib-tooltip="Inserisci l'operazione tra i tuoi preferiti"><strong><i class="fa fa-star"></i></strong></a>	
    <a href="#" class="btn btn-custom inverted" tooltip-placement="top" uib-tooltip="Stampa"><strong><i class="fa fa-print"></i></strong></a>
    <a href="#" class="btn btn-custom inverted" tooltip-placement="top" uib-tooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit"><strong><i class="fa fa-info-circle"></i></strong></a>
  </div>
</div>
</div>

</form>