<div>

  <div class="row padding0 col-lg-12 col-md-12 col-sm-6">

    <form id="formModificaRecapiti" name="profilo.formModificaRecapiti">
      <div class="col-lg-12 col-md-6 col-sm-6">
        <div class="col-lg-12">
          <h4>RECAPITI</h4>
          <hr class="separatore"/>
          <div class="marginbottom10">
            <div class="row margintop10">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Telefono:</div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="text" name="telefono" size="25" ng-model="profilo.recapitoDaModificare.telefono" 
                       ng-pattern="/^[0-9]*$/"  
                      
                         />
              </div>
              
               <div ng-messages="profilo.formModificaRecapiti.telefono.$error" 
                    ng-if="profilo.formModificaRecapiti.telefono.$dirty" 
                    class="col-xs-3">
                  <div ng-message="required" class="red">{{'Numero di telefono obbligatorio' | translate}}</div>
                  <div ng-message="pattern" class="red">{{'Formato telefono non corretto' | translate}}</div>

                </div>
              
              
            </div>
            <hr class="separatore"/>
            <div class="row margintop10">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Cellulare</div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
                <input type="text" name="cellulare" size="25"   ng-pattern="/^[0-9]*$/" required  
                      ng-model="profilo.recapitoDaModificare.cellulare">
                </input>   
                     
              </div>
              
                  
               <div ng-messages="profilo.formModificaRecapiti.cellulare.$error" 
                    ng-if="profilo.formModificaRecapiti.cellulare.$dirty" 
                    class="col-xs-3">
                  <div ng-message="required" class="red">{{'Numero di cellulare obbligatorio' | translate}}</div>
                  <div ng-message="pattern" class="red">{{'Formato cellulare non corretto' | translate}}</div>

               </div>
              
              
            </div>
            <hr class="separatore"/>
            <div class="row margintop10">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">E-mail</div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input type="email" name="email" size="25" ng-model="profilo.recapitoDaModificare.email"
                                                                     /></div>
                
              <div ng-messages="profilo.formModificaRecapiti.email.$error" 
                    ng-if="profilo.formModificaRecapiti.email.$dirty" 
                    class="col-xs-3">
                 <div ng-message="email" class="red">Formato email non valido</div>

               </div>
            
            
            </div>

          </div>
        </div>       
      </div>
    </form>   
    <div class="col-lg-12 col-md-12 col-sm-12">

      <div>
        <h4>AUTENTICAZIONE</h4>
        <hr class="separatore"/>
        Alla conferma riceverai un messaggio sul cellulare con il codice OTP da inserire nella maschera che ti comparira'
      </div>

      <div ng-if="profilo.otp">
        <div class="row margintop20">
          <div class="col-lg-12">
            <div class="box">
              <div uic-otp otp-model="profilo.codiceDispositivo" otp-name="otp" otp-dispositivo="N"></div>      
            </div>
          </div>	
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div style="width:50%; float:left"><a ui-sref="profilo.show" 
                                              class="btn btn-custom">
          Annulla </a></div>
        
        <div style="width:50%; float:right" ng-if="!profilo.otp">
          <a ng-click="!(profilo.formModificaRecapiti.telefono.$invalid)
                       && !(profilo.formModificaRecapiti.email.$invalid)
                       && profilo.mostraOtpModificaRecapiti()" class="btn btn-custom" 
             
             >
            Conferma 
          </a>
        </div>
        <div style="width:50%; float:right" ng-if="profilo.otp">
          <a ng-click="profilo.modificaRecapiti()" class="btn btn-custom">
          Conferma
          </a>
        </div>
      </div>


    </div>
  </div>



  <div class="row margintop20">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <a href="#" class="btn btn-custom inverted" tooltip-placement="top" uib-tooltip="{{'Inserisci l\'operazione tra i tuoi preferiti' | translate}}"><strong><i class="fa fa-star"></i></strong></a>	
      <a href="#" class="btn btn-custom inverted" tooltip-placement="top" uib-tooltip="{{'Stampa' | translate}}"><strong><i class="fa fa-print"></i></strong></a>
      <a href="#" class="btn btn-custom inverted" tooltip-placement="top" uib-tooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit"><strong><i class="fa fa-info-circle"></i></strong></a>
    </div>

  </div>
</div>