<div>

  <div class="row padding0 col-lg-12 col-md-6 col-sm-6">

    <form id="modificaIndirizzoForm" name="modificaIndirizzoForm">

      <div class="col-lg-12 col-md-6 col-sm-6">
        <div class="col-lg-12">
          <h4>INDIRIZZO</h4>
          <hr class="separatore"/>
          <div class="marginbottom10">
            <div class="row margintop10">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Indirizzo:</div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="text" size="25" maxlength="25" ng-model="profilo.indirizzoDaModificare.indirizzo"
                       name="indirizzo" required/>
              </div>

              <div ng-messages="modificaIndirizzoForm.indirizzo.$error" 
                   ng-if="modificaIndirizzoForm.indirizzo.$dirty" 
                   class="col-xs-3">
                <div ng-message="required" class="red">{{'Indirizzo obbligatorio' | translate}}</div>
              </div>

            </div>
            <hr class="separatore"/>
            <div class="row margintop10">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">CAP</div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="text" size="10" ng-model="profilo.indirizzoDaModificare.cap" 
                       name="cap" 
                       ng-pattern="/^[0-9]*$/"  
                       required />
              </div>

              <div ng-messages="modificaIndirizzoForm.cap.$error" 
                   ng-if="modificaIndirizzoForm.cap.$dirty" 
                   class="col-xs-3">
                <div ng-message="required" class="red">{{'CAP obbligatorio' | translate}}</div>
                <div ng-message="pattern" class="red">{{'Formato CAP non corretto' | translate}}</div>

              </div>
            </div>
            <hr class="separatore"/>
            <div class="row margintop10">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Comune</div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="text" size="25" ng-model="profilo.indirizzoDaModificare.comune" 
                       name="comune"
                       ng-pattern="/^([a-zA-Z]+\s)*[a-zA-Z]+$/"
                       required/>
              </div>
              <div ng-messages="modificaIndirizzoForm.comune.$error" 
                   ng-if="modificaIndirizzoForm.comune.$dirty" 
                   class="col-xs-3">
                <div ng-message="required" class="red">{{'Comune obbligatorio' | translate}}</div>
                <div ng-message="pattern" class="red">{{'Formato comune non corretto' | translate}}</div>

              </div> 
            </div>
            <hr class="separatore"/>
            <div class="row margintop10">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Provincia</div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="text" size="25" ng-model="profilo.indirizzoDaModificare.provincia" 
                       name="provincia"
                       ng-pattern="/^([a-zA-Z]+\s)*[a-zA-Z]+$/"
                       required/>
              </div>

              <div ng-messages="modificaIndirizzoForm.provincia.$error" 
                   ng-if="modificaIndirizzoForm.provincia.$dirty" 
                   class="col-xs-3">
                <div ng-message="required" class="red">{{'Provincia obbligatorio' | translate}}</div>
                <div ng-message="pattern" class="red">{{'Formato Provincia non corretto' | translate}}</div>

              </div>


            </div>
            <hr class="separatore"/>
            <div class="row margintop10">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Nazione</div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div>{{profilo.indirizzoDaModificare.nazione}}</div>
              </div>
            </div>

          </div>
        </div>       
      </div>

    </form>   
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div>
        <h4>AUTENTICAZIONE</h4>
        <hr class="separatore"/>
        Alla conferma riceverai un messaggio sul cellulare con il codice OTP da inserire nella maschera che ti comparira'
      </div>


      <div ng-if="profilo.otp">
        <div class="row margintop20">
          <div class="col-lg-12">
            <div class="box">
              <div uic-otp otp-model="profilo.codiceDispositivo" otp-name="otp" otp-dispositivo="N"></div>      
            </div>
          </div>	
        </div>
      </div>


      <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">
        <div style="width:50%; float:left"><a ui-sref="profilo.show" 
                                              class="btn btn-custom">
          Annulla </a> </div>
        <div style="width:50%; float:right" ng-if="!profilo.otp">
          <a ng-click="!(modificaIndirizzoForm.$invalid) && profilo.mostraOtp()" class="btn btn-custom"
             ng-disabled="modificaIndirizzoForm.$invalid">
            Conferma 
          </a></div>
        <div style="width:50%; float:right" ng-if="profilo.otp">
          <a ng-click="!(modificaIndirizzoForm.$invalid) && profilo.modificaIndirizzi()" 
              class="btn btn-custom"
              ng-disabled="modificaIndirizzoForm.$invalid">
          Conferma </a></div>
      </div>





    </div>




    <div class="row margintop20">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <a href="#" class="btn btn-custom inverted" tooltip-placement="top" uib-tooltip="{{'Inserisci l\'operazione tra i tuoi preferiti' | translate}}"><strong><i class="fa fa-star"></i></strong></a>	
        <a href="#" class="btn btn-custom inverted" tooltip-placement="top" uib-tooltip="{{'Stampa' | translate}}"><strong><i class="fa fa-print"></i></strong></a>
        <a href="#" class="btn btn-custom inverted" tooltip-placement="top" uib-tooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit"><strong><i class="fa fa-info-circle"></i></strong></a>
      </div>

    </div>
  </div>

</div>